
<header>
    <nav class="sombra shadow">
      <section>
        <div class="row">
          <div class="col logo"> 
            <a class = "link" href="{% url 'home' %}">
              <img class="logoander" src="../../static/img/andercoltriangulo.png" alt="">
              <h3 class="titulomenu"> infoCliente</h3>
            </a>
          </div>
          <div class="col">
            <a class = "link" href="{% url 'historico' %}">
            <h8 class="inicio titulomenu"> Historico </h8></a>
          </div>
          <div class="col">
            <a class = "link" href="{% url 'registrar' %}">
            <h8 class="registrar titulomenu"> Registrar
            </h8></a>
          </div>
         
        </div>
      </section>
    </nav>
  </header>
  <br><br>

