
<header>
    <nav class="sombra shadow">
      <section>
        <div class="row">
          <div class="col"> <img class="logoander" src="../../static/img/andercoltriangulo.png" alt=""> </div>
          <div class="col">
            <h3 class="titulomenu"> infoCliente
            </h3>
          </div>
          <div class="col">
            <h3 class="inicio titulomenu"> inicio
            </h3>
          </div>
          <div class="col">
            <h3 class="registrar titulomenu"> registrar
            </h3>
          </div>
        </div>
      </section>
    </nav>
  </header>
  <br><br>

