<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% autoescape off %}
{% if nit %}
    <div><p><b> Esta es la tabla de {{nit}}:</b></p>
    {{tabla_a_mostrar}}</div>

    <select class="select_field_class" multiple="multiple" name="option" id="option">
        <option value="">Elige tus Columnas </option>
        {% for option in options %}
           <option value="{{ option.id }}">{{ option.name }}</option>
        {% endfor %}
    </select>

    $('.select_field_class').select2( { placeholder: "Seleccione Indicadores", maximumSelectionSize: 3  } );
    
    {{grafica}}

{% else %}
    <h1>Busca un nit en el explorador SVP</h1>

{% endif %}

{% endautoescape %}