<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/andercoltriangulo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles/historico.css">
    <link rel="stylesheet" href="../../static/styles/menu.css">
    <link rel="stylesheet" href="../../static/styles/footer.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Registar</title>
</head>

<body>

    <header>
        {% include './shared/menu.html' %}
    </header>
    <section> 
        
    {% if bandera %}
        <script>                
        Swal.fire(
                'Exito',
                'Se Registraron los datos del cliente',
                'success'
            )
        </script> 
    {% endif %}
    </section>

    <main >
        <br>
        <div class="container my-5">
            
                <form method="POST">
                    <div class="row">
                        <h3 class=" text-center tituloInterno">Información Cliente</h3>
                        <div class="col-3">
                            {{formulario.NIT}}
                        </div>
                        <div class="col-3">
                            {{formulario.Fecha_de_Corte}}
                        </div>
                        <div class="col-3"> 
                            {{formulario.AÑO}}
                        </div>
                        <div class="col-3">
                            {{formulario.Tipo_empresa}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4"><h3 class="text-center tituloInterno">Estado de Resultados</h3></div>
                        <div class="col-8"><h3 class="text-center tituloInterno">Balance  General</h3></div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                         
                            {{formulario.Ingresos_Operacionales}}
                            {{formulario.Costos_de_ventas_y_de_prestación_de_servicios}}
                            {{formulario.Otros_ingresos}}
                            {{formulario.Gastos_Operacionales_de_venta}}
                            {{formulario.Gastos_Operacionales_de_admon}}
                            {{formulario.Otros_gastos}}
                            {{formulario.Otras_ganancias_pérdidas}}
                            {{formulario.Utilidad_Operacional}}
                            {{formulario.Ingresos_financieros}}
                            {{formulario.Costos_financieros}}
                            {{formulario.Otros_ingresos_o_egresos}}
                            {{formulario.Utilidad_antes_de_impuestos}}
                            {{formulario.Impuesto_de_renta_y_complementarios}}
                            {{formulario.Ganancias_y_pérdidas}}
                            

                           
                        </div>
                        <div class="col-4">
                          
                            {{formulario.Efectivo_y_equivalentes_al_efectivo}}
                            {{formulario.Clientes_CP}}
                            {{formulario.Inventarios_CP}}
                            {{formulario.Otros_activos_financieros}}
                            {{formulario.Otros_Activos_Corrientes}}
                            {{formulario.Total_Activo_Corriente}}
                            {{formulario.Deudores_LP}}
                            {{formulario.Otros_Activos_No_Corrientes}}
                            {{formulario.Propiedad_planta_y_equipo}}
                            {{formulario.Total_Activo_No_Corriente}}
                            {{formulario.Obligaciones_Financieras_CP}}
                            {{formulario.Proveedores_CP}}
                            {{formulario.Otros_Pasivos_Corrientes}}
                            {{formulario.Obligaciones_Financieras_LP}}
                        </div>
                        <div class="col-4 ">
                            {{formulario.Proveedores_LP}}
                            {{formulario.Otros_pasivos_no_Corrientes}}
                            {{formulario.Total_Pasivo}}
                            {{formulario.Capital_Social}}
                            {{formulario.Prima_de_emisión}}
                            {{formulario.Reservas}}
                            {{formulario.Ganancias_acumuladas}}
                            {{formulario.Otros_Patrimonio}}
                            {{formulario.Total_patrimonio}}
                            {{formulario.Total_Pasivo_mas_Patrimonio}}
                            {{formulario.Total_Activo}}
                            {{formulario.Total_Pasivo_Corriente}}
                            {{formulario.Total_Pasivo_No_Corriente}}
                            {{formulario.Utilidad_Bruta}}
                           
                        </div>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-custom ">Registrar</button>
                </form>
            </div>
        
 
    </main>
    <footer>
        {% include './shared/footer.html' %}
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

</body>

</html>
